body{background-color: pink
}

h1{
  text-align:center;
}

.catcolumn img, .catcolumn p {
  float: left; padding: 20px
}



.catfacts {
  clear: both; padding: 20px;

}

@media only screen and (max-width: 600px) {
  body {
    background-color: purple;
  }
  .catcolumn img {
    width: 100%;
  }

  .catfacts {
    color:white;
  }
  h1 {color: white
  }
  .catcolumn p {color: white
  }
}
